/* #b2d971 */
/* #75c856 */
/* #4bb63f */

html {
    background-color: #4bb63f;
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.App {
  text-align: center;
  margin: 20px;
  background-color: white;
}

.pageTitle {
  padding: 10px;
  background-color: #b2d971;
}

.historyList {
  list-style: none;
  padding: 0px;
}

.calculatorButtons {
  font-size: 16px;
  padding: 5px;
  margin: 5px;
  background-color: #75c856 ;
}